<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" /> 
<link rel="stylesheet" type="text/css" href="monStyle.css" /> 
<title>Catalogue des produits</title>
</head>
<body ng-app='MyApp' ng-controller='MyController'>

<br>
<div class="container spacer">
Designation : <input type="text" ng-model="designation" >
<button ng-click="chercherProduits()"> Chercher </button> 
</div>
<br>
<div class="container">
<table class="table table-striped" >
<thead>
<tr>
<th>Designation</th>
<th>Prix</th>
<th>Quantité</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="p in pageProduits.produits">
<td>{{p.designation}}</td>
<td>{{p.prix}}</td>
<td>{{p.quantite}}</td>
</tr>
</tbody>
</table>
</div>

<div class="container">
<ul class="nav nav-pills">
<li ng-class="{active:$index==pageCourante}" ng-repeat="p in pages track by $index">
<a ng-click="gotoPage($index)" class="clickable">{{$index}}</a>
</li>
</ul>
</div>

</body>
<script src="node_modules/angular/angular.min.js"></script>
<script src="monAngular.js"></script>
</html>